.form-container {
    padding: 2rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: clamp(30rem, 50vw, 50rem);

        >div {
            display: flex;
            gap: 1rem;

            >div {
                display: flex;
                flex-direction: column;
                width: 50%;

                input {
                    width: 100%;
                }
            }


        }
    }

    button {
        width: -webkit-fill-available;
    }
}