<div class="form-container">
  <h1>@if(!selectedLeave) { Poser } @else { Modifier } une absence</h1>
  @if(storedAgents$ | async; as agents) { @if(agents.length > 0) {
  <form [formGroup]="leave" (ngSubmit)="onSubmit()">
    <select name="agents" formControlName="agentId">
      <option [value]="null">-- Sélectionner un agent --</option>
      @for (agent of agents; track $index) {
      <option [value]="agent.id">
        {{ agent.lastName }} {{ agent.firstName }}
      </option>
      }
    </select>
    @if (isFieldInvalid('agentId')) {
    <p class="error">Un agent est requis.</p>
    }
    <select formControlName="reason" id="leave-type" name="leave-type">
      @if(!selectedLeave) {
      <option [value]="null">-- Type de congés --</option>
      }
      <option value="sick">Conges Payés</option>
      <option value="vacation">Maladie</option>
    </select>
    @if (isFieldInvalid('reason')) {
    <p class="error">La raison est requise.</p>
    }
    <div>
      <div>
        <label>Date de début:</label>
        <input
          formControlName="startDate"
          type="date"
          id="start-date"
          name="start-date"
        />
        @if (isFieldInvalid('startDate')) {
        <div class="error">La date de début est requise.</div>
        }
      </div>

      <div>
        <label>Date de fin:</label>
        <input
          formControlName="endDate"
          type="date"
          id="end-date"
          name="end-date"
        />
        @if (isFieldInvalid('endDate')) {
        <div class="error">La date de fin est requise.</div>
        } @if (leave.errors?.['dateRange']) {
        <div class="error">
          La date de fin doit être postérieure à la date de début.
        </div>
        }
      </div>
    </div>
    @if (errorMessage) {
    <p class="error">
      {{ errorMessage }}
    </p>
    }
    <button
      [ngClass]="{ disabled: leave.invalid }"
      [disabled]="leave.invalid"
      type="submit"
    >
      @if(selectedLeave) { Modifier } @else { Envoyer }
    </button>
  </form>
  }@else {
  <p>Vous avez aucun agent, commencez par en créer un.</p>
  <button routerLink="/agents">Ajouter un agent</button>
  }}
</div>
