<div class="form-container">
  <h1>Poser une absence</h1>
  <form>
    <select id="leave-type" name="leave-type">
      <option value="">-- Séléctionner un motif --</option>
      <option value="sick">Conges Payés</option>
      <option value="vacation">Maladie</option>
    </select>
    <div>
      <div>
        <label>Date de début:</label>
        <input type="date" id="start-date" name="start-date" />
      </div>

      <div>
        <label>Date de fin:</label>
        <input type="date" id="end-date" name="end-date" />
      </div>
    </div>
    <button type="submit">Envoyer</button>
  </form>
</div>
