<div class="form-container">
  <h1>Reporter une activité</h1>
  @if(storedAgents$ | async; as agents) { @if(agents.length > 0) {
  <form [formGroup]="activityReport" (ngSubmit)="onSubmit()">
    <div>
      <select name="agents" formControlName="agentId">
        <option [value]="null">-- Sélectionner un agent --</option>
        @for (agent of agents; track $index) {
        <option [value]="agent.id">
          {{ agent.lastName }} {{ agent.firstName }}
        </option>
        }
      </select>
    </div>

    <input id="project" formControlName="project" placeholder="Projet" />
    <div>
      <div>
        <label>Date de début:</label>
        <input type="date" id="startDate" formControlName="startDate" />
      </div>
      <div>
        <label>Date de fin:</label>
        <input type="date" id="endDate" formControlName="endDate" />
      </div>
    </div>
    <textarea
      id="activity"
      formControlName="activity"
      placeholder="Elements réalisées"
    ></textarea>
    <button [disabled]="activityReport.invalid" type="submit">Envoyer</button>
  </form>

  }@else {
  <p>Vous avez aucun agent, commencez par en créer un.</p>
  <button routerLink="/agents">Ajouter un agent</button>
  } } @if(storedActivityReport$ | async; as activities) { @if(activities.length
  > 0) {

  <h3>Stored Activities:</h3>
  <ul>
    @for (activity of activities; track $index) {
    <li>
      {{ activity.activity }} - {{ activity.startDate }}
      {{ activity.endDate }} -
      {{ activity.project }}
    </li>
    }
  </ul>

  @if (errorMessage) {
  <p>{{ errorMessage }}</p>
  } }}
</div>
