<div class="form-container">
  <h1>
    @if(!selectedActivityReport) { Reporter } @else { Modifier } une activité
  </h1>
  @if(storedAgents$ | async; as agents;) { @if(agents.length > 0) {
  <form [formGroup]="activityReport" (ngSubmit)="onSubmit()">
    <select name="agents" formControlName="agentId">
      @if(!selectedActivityReport) {
      <option [value]="null">-- Sélectionner un agent --</option>
      } @for (agent of storedAgents$ | async; track $index) {
      <option [value]="agent.id">
        {{ agent.lastName }} {{ agent.firstName }}
      </option>
      }
    </select>
    @if (isFieldInvalid('agentId')) {
    <p class="error">Agent est requis.</p>
    }

    <input id="project" formControlName="project" placeholder="Projet" />
    @if (isFieldInvalid('project')) {
    <p class="error">
      Projet est requis et doit comporter au moins 3 caractères.
    </p>
    }

    <div>
      <div>
        <label>Date de début:</label>
        <input type="date" id="startDate" formControlName="startDate" />
        @if (isFieldInvalid('startDate')) {
        <div class="error">La date de début est requise.</div>
        }
      </div>
      <div>
        <label>Date de fin:</label>
        <input type="date" id="endDate" formControlName="endDate" />
        @if (isFieldInvalid('endDate')) {
        <div class="error">La date de fin est requise.</div>
        } @if (activityReport.errors?.['dateRange']) {
        <div class="error">
          La date de fin doit être postérieure à la date de début.
        </div>
        }
      </div>
    </div>

    <textarea
      id="activity"
      formControlName="activity"
      placeholder="Elements réalisées"
    ></textarea>
    @if (isFieldInvalid('activity')) {
    <p class="error">
      Acitivity est requis et doit comporter au moins 10 caractères.
    </p>
    } @if (errorMessage) {
    <p class="error">
      {{ errorMessage }}
    </p>
    }

    <button
      [ngClass]="{ disabled: activityReport.invalid }"
      [disabled]="activityReport.invalid"
      type="submit"
    >
      @if(selectedActivityReport) { Modifier } @else { Ajouter }
    </button>

    @if(selectedActivityReport) {
    <button
      (click)="deleteActivityReport(selectedActivityReport.id)"
      class="delete"
      type="button"
    >
      Supprimer
    </button>
    }
  </form>
  } @else {
  <p>Vous avez aucun agent, commencez par en créer un.</p>
  <button routerLink="/agents">Ajouter un agent</button>} }
</div>

@if(formSubmitted) {
<app-toast
  [toastMessage]="'Activité ajoutée avec succès.'"
  (isToastClosed)="formSubmitted = false"
></app-toast>
}
