.form-container {
    padding: 2rem;
    max-width: 50rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .error {
            color: red;
        }

        select {
            width: 100%;
        }

        >div {
            display: flex;
            gap: 1rem;

            input {
                width: -webkit-fill-available;
            }
        }
    }

    .agents-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        >div {
            padding: 0 2rem;
            border-radius: 0.5rem;
            border: 0.2rem solid black;
        }
    }

    button {
        width: 100%;
    }
}