@if(legends.length > 0 && (activityReports.length > 0 || leaves.length > 0)) {
<div class="legends-container">
  @for (legend of legends; track $index) {
  <div [style.background-color]="legend.backgroundColor">
    {{ legend.label }}
  </div>
  }
</div>
}

<div class="calendar-controls">
  <button
    (click)="prevMonth()"
    [attr.disabled]="isPrevMonthDisabled() ? true : null"
    [ngClass]="{ disabled: isPrevMonthDisabled() }"
  >
    Avant
  </button>
  <span>{{ format(currentMonth) }}</span>
  <button
    (click)="nextMonth()"
    [attr.disabled]="isNextMonthDisabled() ? true : null"
    [ngClass]="{ disabled: isNextMonthDisabled() }"
  >
    Après
  </button>
</div>

<div class="calendar">
  <div class="calendar-header">
    @for (day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; track
    $index) {
    <p>{{ day }}</p>
    }
  </div>

  <div class="calendar-body">
    @for (week of weeks; track $index) { @for (day of week; track $index) {
    <div class="calendar-day" [ngClass]="{ today: isToday(day) }">
      <div>{{ day ? formatDay(day) : "" }}</div>
      <div class="container-items">
        @for (leave of getLeaveForDay(day); track $index) {
        <div
          class="item"
          [ngStyle]="{
            'background-color': getBackGroundColor(AgentStatus.AGENT_ABSENT),
            'border-left':
              '1px solid ' + getBorderColor(AgentStatus.AGENT_ABSENT)
          }"
          (click)="viewAgentLeave(leave)"
        >
          @if(getAgentById(leave.agentId); as agent) {
          <p>{{ agent.lastName }} {{ agent.firstName }} - En congé</p>
          }
        </div>
        } @for (activity of getActivityForDay(day); track $index) {
        <div
          class="item"
          [ngStyle]="{
            'background-color': getBackGroundColor(AgentStatus.AGENT_PRESENT),
            'border-left':
              '1px solid ' + getBorderColor(AgentStatus.AGENT_PRESENT)
          }"
          (click)="viewCra(activity)"
        >
          @if(getAgentById(activity.agentId); as agent) {
          <p>
            {{ agent.firstName }} {{ agent.lastName }} - {{ activity.project }}
          </p>
          }
        </div>
        }
      </div>
    </div>
    } }
  </div>
</div>
