<div class="calendar-controls">
  <button (click)="prevMonth()">Previous</button>
  <span>{{ format(currentMonth) }}</span>
  <button (click)="nextMonth()">Next</button>
</div>

<div class="calendar">
  <div *ngIf="legends.length > 0" class="legends-container">
    <div
      *ngFor="let legend of legends"
      class="badge"
      [style.background-color]="legend.backgroundColor"
      [style.color]="legend.color"
    >
      {{ legend.label }}
    </div>
  </div>

  <div class="calendar-header">
    <div *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
      {{ day }}
    </div>
  </div>

  <div class="calendar-body">
    <div *ngFor="let week of weeks" class="calendar-row">
      <div
        *ngFor="let day of week"
        class="calendar-day"
        [ngClass]="{ today: isToday(day) }"
      >
        <div>{{ day ? formatDay(day) : "" }}</div>

        <div *ngFor="let activity of getActivityForDay(day)">
          <div class="activity-item">
            <p class="agent" *ngIf="getAgentById(activity.agentId) as agent">
              {{ agent.firstName }} {{ agent.lastName }}
            </p>
            <div>
              Projet: {{ activity.project }} <br />
              Activitée: {{ activity.activity }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
