@use '../../../_variables' as *;

.calendar-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: $white;
  border-bottom: 1px solid $white;
  border-radius: 0.3rem 0.3rem 0 0;

  button {
    padding: 0.3rem 0.8rem;
    font-size: 1.2rem;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  border: 1px solid $white;
  box-sizing: border-box;

  .calendar-header {
    display: flex;
    background-color: $white;
    border-bottom: 1px solid $white;
    font-weight: bold;
    justify-content: space-around;

    div {
      flex: 1;
      text-align: center;
      padding: 0.5rem;
      box-sizing: border-box;
    }
  }


  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;

    .calendar-day {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 1rem;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background-color: #f0f0ff;

      &.today {
        background-color: $white;
      }

      .container-items {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .item {
          padding: 0.5rem;
          border-left: 1px solid red;
          background-color: #ffc6c6;
          transition: 0.2s;

          &:hover {
            transform: scale(1.02);
            transition: 0.1s;
          }

          >p {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            font-size: 0.9rem;
            width: 100%;
          }
        }
      }



    }

    .calendar-row {
      display: flex;
      flex: 1;

      .calendar-day:last-child {
        border-right: none;
      }
    }

  }
}