body {
    margin: 0;
}

.container-page {
    width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: black;
    color: white;
    transition: 0.3s;
    border: 0.2rem solid black;

    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
        border: 0.2rem solid black;
    }
}

input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

textarea {
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
}

select {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}