<div class="form-container">
  <h1>Ajouter des agents</h1>
  <form [formGroup]="agents" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <input id="lastName" formControlName="lastName" placeholder="Nom" />
        @if (isFieldInvalid('lastName')) {
        <div class="error">Le nom est requis.</div>
        }
      </div>
      <div>
        <input
          id="firstName"
          formControlName="firstName"
          placeholder="Prénom"
        />
        @if (isFieldInvalid('firstName')) {
        <div class="error">Le prénom est requis.</div>
        }
      </div>
    </div>
    @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    }
    <button
      [ngClass]="{ disabled: agents.invalid }"
      [disabled]="agents.invalid"
      type="submit"
    >
      Envoyer
    </button>
  </form>

  @if(storedAgentsData$ | async; as agents) { @if(agents.length > 0) {

  <h3>Agents:</h3>
  <div class="agents-container">
    @for (agent of agents; track $index) {
    <div>
      <p>{{ agent.lastName }} {{ agent.firstName }}</p>
      <img src="assets/cross.svg" (click)="deleteAgent(agent.id)" />
    </div>
    }
  </div>
  }}
</div>

@if(formSubmitted) {
<app-toast
  [toastMessage]="'Agent ajouté avec succès.'"
  (isToastClosed)="formSubmitted = false"
></app-toast>
}
