<form [formGroup]="agents" (ngSubmit)="onSubmit()">
  <div>
    <label for="lastName">Nom</label>
    <input id="lastName" formControlName="lastName" />
  </div>
  <div>
    <label for="firstName">Prénom</label>
    <input id="firstName" formControlName="firstName" />
  </div>
  <div>
    <label for="note">Commentaire</label>
    <textarea id="note" formControlName="note"></textarea>
  </div>
  <button type="submit">Envoyer</button>
</form>

@if(agentsData$ | async; as agents) { @if(agents.length > 0) {

<h3>Agents:</h3>
<ul>
  @for (agent of agents; track $index) {
  <li>
    {{ agent.id }} -- {{ agent.lastName }} {{ agent.firstName }} -
    {{ agent.note }}
  </li>
  }
</ul>

@if (errorMessage) {
<p>{{ errorMessage }}</p>
} }}
