<div class="form-container">
  <h1>Ajouter des agents</h1>
  <form [formGroup]="agents" (ngSubmit)="onSubmit()">
    <div>
      <input id="lastName" formControlName="lastName" placeholder="Nom" />
      <input id="firstName" formControlName="firstName" placeholder="Prénom" />
    </div>
    <textarea
      id="note"
      formControlName="note"
      placeholder="Commentaires.."
    ></textarea>
    <button type="submit">Envoyer</button>
  </form>

  @if(agentsData$ | async; as agents) { @if(agents.length > 0) {

  <h3>Agents:</h3>
  <div class="agents-container">
    @for (agent of agents; track $index) {
    <div>
      <p>{{ agent.lastName }} {{ agent.firstName }}</p>
    </div>
    }
  </div>
  @if (errorMessage) {
  <p>{{ errorMessage }}</p>
  } }}
</div>
